{% extends "resume_app/base.html" %}


{% block content %}
  <div class="row">
    <div class="col-lg-10 centered well">
      <!-- <h2>Education</h2> -->
      <h1>Education</h1>
      {% if educations %}
        {% for edu in educations %}
              <h3>{{ edu.university }}</h3>
          <p>{{ edu.degree }}, {{ edu.gpa }} &nbsp;&nbsp;&nbsp;{{edu.start}} - {{ edu.finish}}</p>
          <p>{{ edu.descriptions }}</p>
        {% endfor %}
      {% endif %}
      <br />
      <form action="{% url 'resume_app:update_education' %}" method="post">
        <fieldset>
          {% csrf_token %}
          <legend>Add New Education</legend>
          <!--<label>Subject</label>-->
          <input type="text" name="university" placeholder="University Name" class="form-control" />
          <br />
          <input type="text" name="gpa" placeholder="GPA" class="form-control" />
          <br />
          <input type="text" name="degree" placeholder="Degree" class="form-control" />
          <br />
          <input type="text" name="start"  placeholder="Start Date" class="form-control" />
          <br />
          <input type="text" name="finish"  placeholder="Graduating Date" class="form-control" />
          <br />
          <!--<label>Content</label>-->
          <textarea rows="3" name="description" placeholder="Description" class="form-control"></textarea>
          <br />
          {{ error_message | safe }}
          <button type="submit" class="btn">Submit</button>
        </fieldset>
      </form>
    </div>
  </div>
{% endblock %}
